<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /alt20178/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /alt20178/index.php [L]
</IfModule>
